nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}
body {
    font-family: serif;
}
li {
    list-style: none;
    display: flex;
    margin: 15px;

}
.cfh {
        background-color: purple;
        align-self: center;
        padding: 2% 1% 2% 1%;
        font-size: 700%;
}
.menu {
        display: flex;
        justify-content: space-between;
        padding: 4% 1% 1% 1%;
        align-self: center;
        font-size: 200%;
}
.search {
        display: flex;
        padding: 40px 10px 10px 10px;
        float: right;
        padding: 40px 10px 10px 10px;
        align-self: center;
}
.log {
        display: flex;
        float: right;
        font-size: 30px;
}
#icon {
    height: 15px;
    width: 15px;
    padding: 5px;
}
#cart {
    float: right;
    margin-left: 30px;
    margin-right: 30px;
    height: 30px;
    width: 30px;
}
input {
    width: 90%;
  }